body{
    margin:0px;
}
/*BREAK POINT*/
/*TABLET & MOBILE*/
@media(max-width:1023px) {
    .hide-on-mobile-tablet{
        display: none;
    }
}
/* TABLET */
@media (min-width:740px) and(max-width:1023) {
    .hide-on-tablet{
        display: none;
    }
}
/*MOBILE*/
@media(max-width:739px){
    .hide-on-mobile{
        display: none;
    }
}

