body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',sans-serif;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
